.frameChild {
    height: 234px;
    width: 1440px;
    position: relative;
    background-color: var(--color-seagreen);
    display: none;
    max-width: 100%;
  }
  .preview11 {
    width: 200px;
    height: 200px;
    position: relative;
    object-fit: cover;
    z-index: 1;
  }
  .preview11Wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 var(--padding-12xs);
  }
  .home {
    align-self: stretch;
    position: relative;
    text-decoration: underline;
    z-index: 1;
  }
  .homeWrapper {
    width: 65px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-124xl) 0 0;
    box-sizing: border-box;
  }
  .category {
    position: relative;
    display: inline-block;
    min-width: 68px;
    z-index: 1;
  }
  .categoryWrapper {
    width: 94px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-125xl) var(--padding-xl) 0 0;
    box-sizing: border-box;
    font-size: var(--font-size-2xl);
  }
  .market {
    position: relative;
    display: inline-block;
    min-width: 49px;
    cursor: pointer;
    z-index: 1;
  }
  .marketWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-129xl) 0 0;
  }
  .aboutProducts {
    position: relative;
    display: inline-block;
    min-width: 105px;
    white-space: nowrap;
    cursor: pointer;
    z-index: 1;
  }
  .aboutProductsWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-129xl) var(--padding-2xs) 0 0;
  }
  .farmers {
    position: relative;
    display: inline-block;
    min-width: 56px;
    cursor: pointer;
    z-index: 1;
  }
  .farmersWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-127xl) var(--padding-xl) 0 0;
  }
  .frameItem,
  .user {
    position: relative;
    cursor: pointer;
  }
  .frameItem {
    height: 35px;
    width: 105px;
    border-radius: var(--br-xs);
    background-color: var(--color-forestgreen-100);
    transform: rotate(-0.5deg);
    z-index: 1;
  }
  .user {
    display: inline-block;
    min-width: 31.8px;
    z-index: 2;
    margin-left: -73.1px;
  }
  .frameWrapper,
  .rectangleGroup {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frameWrapper {
    padding: 0 0 0 var(--padding-15xl);
  }
  .contactUs {
    position: relative;
    font-size: var(--font-size-lgi);
    display: inline-block;
    min-width: 76px;
    white-space: nowrap;
    z-index: 1;
  }
  .frameGroup {
    align-self: stretch;
    width: 139.3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-91xl);
    font-size: var(--font-size-xl);
  }
  .frameParent,
  .rectangleParent {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frameParent {
    height: 176px;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-11xs) 0 0;
    gap: var(--gap-45xl);
  }
  .rectangleParent {
    align-self: stretch;
    background-color: var(--color-seagreen);
    align-items: flex-end;
    justify-content: space-between;
    padding: var(--padding-9xs) var(--padding-13xl) var(--padding-10xl)
      var(--padding-5xl);
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-lgi);
    color: var(--color-white);
    font-family: var(--font-oswald);
  }
  @media screen and (max-width: 1100px) {
    .frameParent {
      gap: var(--gap-13xl);
    }
  }
  @media screen and (max-width: 450px) {
    .frameParent {
      gap: var(--gap-base);
    }
  }
  